<div data-bsi-element="filter-tabelle-217858" class="content-element filter-tabelle-217858" >
    <div x-data="filterTabelle" class="search-div" style="background-color:red; height:100px;">
        <input value="{searchValue}" placeholder="suchen..." @change="filterTabelle"/>
    </div>
    <table x-data="setHeaderTableMobile($el)" data-bsi-element-part="filter-tabelle-tabelle-403312"  class="table table-hover">
        <colgroup>
            <col/>
            <col/>
            <col/>
            <col/>
        </colgroup>
        <tbody>
            <tr>
                <th>#</th>
                <th>Title 1</th>
                <th>Title 2</th>
                <th>Title 3</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Text 1</td>
                <td>Text 2</td>
                <td>Text 3</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Text 1</td>
                <td>Text 2</td>
                <td>Text 3</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Text 1</td>
                <td>Text 2</td>
                <td>Text 3</td>
            </tr>
        </tbody>
    </table>
</div>