<div data-bsi-element="inter-tabelle-217858" class="inter-tabelle-217858 bsi-element-table-FuXKu7 content-element bsi-table-primary mb-3 show-search-filter" x-data="interTabelle">
	<div class="parameters d-none">
		<div x-init="initFilter" data-bsi-element-part="inter-tabelle-filter-text-uYjVGH">in</div>
		<div x-init="initPagination" data-bsi-element-part="inter-tabelle-pagination-size-vamlqE">10</div>
	</div>
	<div class="search-div">
		<input type="text" x-on:change="filterTabelle">
		<i class="bi bi-search"></i>
	</div>
	<div data-bsi-element-part="inter-tabelle-tabelle-403312">
		<table x-init="setHeaderTableMobile" class="table table-hover init">
			{% include "./example-data-50.html" %}
		</table>
	</div>
	<div class="pages"></div>
</div>
