{% apply spaceless %}
<div data-bsi-dropzone="searchbar-dropzone-8cXdia">
	{% block search %}
		{% include './../../../shared/content-elements/searchfield/template.twig' %}
	{% endblock %}
</div>
{% endapply %}
